.navigation {
  list-style: none;
  width: 400px;
  display: flex;
  margin-bottom: 100px;
}

.menu {
  list-style: none;
  position: fixed;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  background: rgba(226, 218, 218, 0.747);
  height: 80px;
  width: 100%;
}

li {
  color: brown;
  font-size: 25px;
  margin: 0 15px;
}

a {
  margin: 5px;
  text-decoration: none;
}

.logo {
  position: absolute;
  top: 0;
  left: 0;
  width: 100px;
}
